mixin nav-content()
  ul
    //li: a(href="#missie") MISSIE
    li: a(href="/webshop.html") WINKEL
    li: a(href="/designers.html") DESIGNERS
    li: a(href="#contact") CONTACT

.mobile-nav
  +nav-content()

header
  .header-position.active
    div.logo
    
    nav.site-nav
      +nav-content()
    
    .mobile-nav-toggle: span
