section.page-webshop

  .flex.flex--center  
    .col-50.flex.flex--center
      h3.text-center UNDER CONSTRUCTION...
      h4.text-center So first...
  
  .flex.flex--center
    .col-50
      .page-video.center-video <iframe width="800" height="400" src="https://www.youtube.com/embed/9aR73t8VWco" frameborder="0" allowfullscreen></iframe>
