mixin nav-content()
  ul
    li: a(href="#haha") HAHA
    li: a(href="#kleding") KLEDING
    li: a(href="#limonade") LIMONADE
    li: a(href="#contact") CONTACT

.mobile-nav
  +nav-content()

header
  .header-position
    a(href="/index.html").logo
    
    .mobile-nav-toggle: span
