mixin nav-content()
  ul
    li: a(href="#haha") HAHA
    li: a(href="#kleding") KLEDING
    li: a(href="#limonade") LIMONADE
    li: a(href="#contact") CONTACT

.mobile-nav
  +nav-content()

header
  .header-position
    a(href="/index.html").logo
    .cart
      a(href="#")
        span.snipcart-summary
          span.snipcart-total-items
          span  ITEM(S) | 
          span.snipcart-total-price
          br
          span.snipcart-checkout KASSA

    .mobile-nav-toggle: span
