section.hero#about
  .flex.flex--center
    .col-100.bg-overlay
      .herologo-container
        h4.home-letsgo LET'S GO
        p.home-lead banananas
        img(src="/assets/img/logo-head.png").hero-logo 
        h4.home-products LIMONADE, KLEDING EN  EEN LACH
