section.limo#limonade
  .flex.flex--center
    .col-100
      .limosection-container
        .limo-background
          .limo-desc.bg-overlay
            p GOT LEMONADE?
  
  .flex.flex--center
    .col-100
      .lemonade-bg
        .col-2.push-right
          .limo-desc-wrap
            h2 ONZE FRISSE LIMONADES ZIJN GEMAAKT MET BIOLOGISCHE BIJENHONING
            a.home-cta(href="/webshop.html") IK WIL LEKKERE LIMO!
