section.inspiration#haha
  .flex.flex--center
    .col-100
      .fs-loop-video
        video(poster="assets/img/poster.jpg" autoplay loop muted)#fs-bg-video
          source(src="assets/video/This_SH-T_is_Banananas.mp4" type="video/mp4")
          source(src="assets/video/This_SH-T_is_Banananas.webm" type="video/webm")
        .fs-loop-text 
          div DIT IS BANANANAS
