section.event#evenement
  .flex.flex--center.overlay-bgblack
    .col-100
      .event-desc-wrap
        h3 OP ZOEK NAAR EEN TOEVOEGING OP JE FEEST OF FESTIVAL?
        a.home-cta(href="/webshop.html") IK WIL MEER INFO!
