section.event#evenement

  .flex.flex--center.overlay-bgblack
    .col-2
      h3 Op zoek naar iets leuks op je event? Wij regelen dat voor je!
      a.home-cta(href="/webshop.html") IK WIL MEER INFO!
