section.how#about
  .flex.flex--center
    .col-100.bg-overlay
      .how-container
        img(class='input-img', src='assets/img/dancing-banana.gif').how-logo
        .home-text 
          p 1) WIJ BEZORGEN JOU EEN LACH
          p 2) JIJ BEZORGT JE VRIENDEN EEN LACH
          p 3) IEDEREEN IS BLIJ
