.page-inspiration
  padding-bottom: 0

.page-video
  height: 0
  overflow: hidden
  padding-bottom: 70.3%
  position: relative
  margin: auto

.page-video iframe,
.page-video object,
.page-video embed,
.page-video video
  margin: auto
  height: 100%
  position: absolute
  top: 0px
  width: 100%
  left: 0
  right: 0
  bottom: 0

.snipcart-cta
  color: #666
  font-size: 28px
  display: block
  background: white
  text-align: center
  padding: 0.4em 0
  line-height: 1.25
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3)
  transition: all 0.15s ease-in-out

  &:hover
    box-shadow: 0px 5px 14px rgba(0,0,0,0.6)
    color: #e20a0a
