section.inspiration
  background:
    color: black
  padding-top: 0px

  .home-cta
    background-color: red
    color: white
    font-size: 18px
    width: 250px
    margin-left: 40px
    margin-top: 40px

  h2
    color: white
    margin-top: -20px
