section.how
  height: 250px

  img
    float: left
    position: absolute

  p
    float: right
    font:
      size: 24px
    position: relative
    text-align: left
    margin-top: 40px

  .how-container
    padding-top: 60px
