section.hero
  background:
    image: url(../img/hero-bg.jpg)
    position: center top
    size: cover
  height: 100vh

  p
    color: white
    border:
      style: solid
      width: 2px

  .home-letsgo
    color: white
    margin-left: -430px
    margin-bottom: 0px

  .home-products
    color: white
    margin-top: -40px

  .home-lead
    margin-right: 20px
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 20px
    padding-right: 20px
    font-family: 'Comfortaa'
    font:
      size: 72px
      weight: 700
    display: inline-block

  .herologo-container
    margin-left: 500px
    margin-right: 500px

    position: relative
    z-index: 1
    text-align: center
    margin-top: 60vh

  .hero-logo
    display: inline-block
    vertical-align: middle


  .bg-overlay
    position: absolute
    //padding-top: 50vh
    //z-index: 2
    background: rgba(0,0,0,0.6)
    top: 0
    bottom: 0
    left: 0
    right: 0




@media (max-width: 640px)
  section.hero
    h2, .home-lead
      margin-left: 100px
      margin-right: auto
      max-width: 300px
