section.limo
  background:
    image: url(/assets/img/limo-bg.jpg)
    position: center top
    size: cover
  height: 700px

  h2
    color: #58595b
    font-size: 32px

  .col-2
    margin-top: 280px
    width: 520px

  .home-cta
    background-color: red
    color: white
    font-size: 18px
    width: 250px
    //margin-left: 250px
    margin-top: 40px
