section.shirt
  background:
    image: url(/assets/img/shirt-lachenman-bg.jpg)
    position: center top
    size: cover

  height: 700px

  h2
    color: #58595b
    font-size: 32px

  .col-2
    margin-top: 350px
    margin-left: -350px
    width: 450px

  .home-cta
    background-color: red
    color: white
    font-size: 18px
    width: 250px
    margin-left: 145px
    margin-top: 40px
