section.event
  background:
    image: url(/assets/img/event-bg.jpg)
    position: center top
    size: cover
  height: 700px

  .overlay-bgblack
    background: rgba(black,0.1)
    height: 840px
    margin-top: -70px
    margin-bottom: 140px

  h3
    color: white

  .col-2
    margin-top: 420px
    margin-left: -400px
    width: 450px

  .home-cta
    background-color: red
    color: white
    font-size: 18px
    width: 250px
    margin-top: 40px
    margin-left: 160px
