section.hero
  background:
    image: url(../img/hero-bg.jpg)
    position: center top
    size: cover

  h2
    color: #2E2D33
    font:
      size: 36px
      weight: 700
    line-height: 1
    margin-top: 70px
    margin-left: -20px

  p
    margin-top: 250px
    margin-bottom: 200px
    color: black
    font:
      family: Montserrat
      weight: 400
      size: 36px

  .home-lead
    margin-left: -20px

  .home-shout
    margin-bottom: 80px
    margin-left: -20px

@media (max-width: 640px)
  section.hero
    h2, .home-lead, .home-shout
      margin-left: 100px
      margin-right: auto
      max-width: 300px
