section.item-detail

  .item-img-bundle
    display: block
    //background-color: pink
    width: 80%
    float: right
    //position: relative
    margin: 2.5%
    overflow: hidden

  &:after
    content: ''
    display: block
    padding-top: 100%

  .item-img
    display: block
    background:
      size: cover
    width: 100%
    float: left
    position: relative
    //margin: 2.5%
    overflow: hidden

    &:after
      content: ''
      display: block
      padding-top: 80%
